{:deps     {:aliases [:develop]}
 :nrepl    {:port 9000}
 :http     {:port 9631}
 :dev-http {8000 "classpath:public"}
 :jvm-opts ["-Xmx2G"]
 :builds   {:develop {:target           :browser
                      :output-dir       "resources/public/js"
                      :asset-path       "/js"
                      :modules          {:shared {}
                                         :main   {:init-fn    workspace/init
                                                  :entries    [workspace]
                                                  :depends-on #{:shared}}}
                      :compiler-options {:output-feature-set :es8}
                      :devtools         {:after-load workspace/refresh
                                         :preloads   []}}
            :cards   {:target           :browser
                      :output-dir       "resources/public/js/cards"
                      :asset-path       "/js/cards"
                      :modules          {:shared {}
                                         :main   {:init-fn    com.vadelabs.turbo-card/init
                                                  :entries    [com.vadelabs.turbo-card]
                                                  :depends-on #{:shared}}}
                      :compiler-options {:devcards           true
                                         :output-feature-set :es8}
                      :build-options    {:ns-aliases {devcards-marked             cljsjs.marked
                                                      devcards-syntax-highlighter cljsjs.highlight}}}
            :tests   {:target           :browser
                      :output-dir       "resources/public/js/tests"
                      :asset-path       "js/tests"
                      :modules          {:shared {}
                                         :main   {:init-fn    com.vadelabs.turbo-test/init
                                                  :entries    [com.vadelabs.turbo-test]
                                                  :depends-on #{:shared}}}
                      :compiler-options {:devcards           true
                                         :output-feature-set :es8}
                      :build-options    {:ns-aliases {devcards-marked             cljsjs.marked
                                                      devcards-syntax-highlighter cljsjs.highlight}}}}}
