{:deps         {:aliases [:dev]}
 :nrepl        {:port 9000}
 :jvm-opts     ["-Xmx2G"]
 :dependencies [[binaryage/devtools "1.0.2"]
                [cljs-bean "1.6.0"]]

 :builds {:main {:target           :browser
                 :output-dir       "resources/public/js"
                 :asset-path       "/js"
                 :modules          {:shared {}
                                    :main   {:entries    [workshop]
                                             :depends-on #{:shared}}}
                 :compiler-options {}
                 :dev              {:compiler-options {:output-feature-set :es6}}
                 :devtools         {:http-root "resources/public/"
                                    :http-port 8000
                                    :preloads  [devtools.preload]}}}}
